{% extends 'base.html.twig' %}

{% block title %}Edit Articulo{% endblock %}

{% block body %}
    <h1>Edit Articulo</h1>

    {{ include('articulo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_articulo_index') }}">back to list</a>

    {{ include('articulo/_delete_form.html.twig') }}
{% endblock %}
