{% extends 'base.html.twig' %}

{% block title %}New Articulo{% endblock %}

{% block body %}
    <h1>Create new Articulo</h1>

    {{ include('articulo/_form.html.twig') }}

    <a href="{{ path('app_articulo_index') }}">back to list</a>
{% endblock %}
